/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    height: auto;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: auto;
    line-height: 9px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#gstack-console > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.feather {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: text-bottom;
}

.ui.card.create{
    box-shadow: none;
    border: 0.16em dashed rgba(0, 0, 0, 0.1);
}
.ui.card.create .content{
    vertical-align: middle;
    display: flex;
    justify-content:center;
    align-items:center;
    color: #ddd
}

* > .hover.show, .item .hover.show {
    display: none;
}

*:hover > .hover.show, .item:hover .hover.show {
    display: initial;
}

*:hover > .hover.show .link {
    margin-left: 10px;
}

.side-bar {
    background: #fff;
    padding-top: 70px !important;
}

.text-overflow-hidden {
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-muted{
    color: #8a8a8a;
}

/**************************************
Sortable List CSS
***************************************/
.sortable.list > .item {
    display: inline-block;
}

.activity.sortable.list {
    display: inline-block;
    font-size: 0em;
    min-height: 180px;
}

.sortable.list .card {
    width: 120px;
    height: 78px;
    position: relative;
    cursor: pointer;
    padding: 3px;
    box-sizing: border-box;
    font-size: 1rem;
    overflow: hidden;
    margin: 4px;
    border: solid 1px #8a8a8a;
    background-color: #fff;
}

.activity.sortable.list > .item,
.activity.item {
    border-right: 1px solid #8a8a8a;
    margin: 0;
    padding: 0 4px;
    min-width: 137px;
    position: relative;
}

.activity.sortable.list > .item:last-child,
.activity.item:last-child {
    border-right: none;
}

.activity.sortable.list > .item.placeholder {
    visibility: hidden;
}

.activity.sortable.list > .item,
.drag-activity {
    display: inline-block;
    min-width: 128px;
    min-height: 86px;
    position: relative;
}

.task.sortable.list {
    display: block;
    font-size: 0em;
    min-height: 86px;
    margin: 0 -4px -12px -5px;
    padding: 0 4px 12px 5px;
}

.feature.list {
    display: inline-block;
}

.ui-sortable-placeholder.card,
.ui-sortable-placeholder > .card {
    border: dashed 1px #8a8a8a !important;
}

.ui-sortable-placeholder > .sortable.list,
.drag-activity > .sortable.list {
    display: none !important;
}

.drag-activity > .card,
.drag-task > .card,
.drag-feature > .card {
    box-shadow: 1px 1px 5px #888888;
}

.activity.sortable.list > .item.drag-activity {
    border-right: none;
    margin: 0;
    padding: 0;
}

.feature.sortable.list:after {
    content: '';
    display: block;
    margin: 0 4px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    width: 120px;
}

.stretched {
    display: flex !important;
}

.stretched > div {
    display: inline-flex !important;
    align-self: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.schedules > .title {
    background: #eee;
}

.schedules > .content {
    margin: 0;
    padding: 0 !important;
}

.red-border {
    border: 1px solid red;
    box-sizing: border-box;
}

.purple-border {
    border: 1px solid purple;
    box-sizing: border-box;
}

.blue-border {
    border: 1px solid blue;
    box-sizing: border-box;
}

.orange-border {
    border: 1px solid orange;
    box-sizing: border-box;
}