/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    height: auto;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: auto;
    line-height: 9px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#gstack-console > .container {
    padding: 0;
    margin: 60px 0;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.feather {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: text-bottom;
}

h1.mt-5 {
    margin-top: 5rem;
}

.ui.card.create{
    box-shadow: none;
    border: 0.16em dashed rgba(0, 0, 0, 0.1);
}
.ui.card.create .content{
    vertical-align: middle;
    display: flex;
    justify-content:center;
    align-items:center;
    color: #ddd
}

* > .hover.show, .item .hover.show {
    display: none;
}

*:hover > .hover.show, .item:hover .hover.show {
    display: initial;
}

*:hover > .hover.show .link {
    margin-left: 10px;
}

.text-overflow-hidden {
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-muted{
    color: #8a8a8a;
}

/**************************************
Sortable List CSS
***************************************/
.sortable.list {
    position: relative;
}

.sortable.list > .body > .item {
    display: inline-flex;
    background: transparent;
}

.sortable.list > .head {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
}

.sortable.list:hover > .head {
    opacity: 0.7;
}

.activity.sortable.list {
    font-size: 0em;
    min-height: 180px;
    /*min-height: 168px;*/
    z-index: 2;
    position: sticky;
    top: 0;
    border-bottom: #0d71bb 1px solid;
    width: max-content;
    min-width: 100%;
}
.activity.sortable.list > .body {
    height: 100%;
}

.activity.sortable.list > .body:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
}

.activity.sortable.list > .head {
    display: none;
}

.sortable.list .card {
    width: 120px;
    height: 78px;
    position: relative;
    padding: 3px;
    box-sizing: border-box;
    font-size: 1rem;
    overflow: visible;
    margin: 4px;
}

.sortable.list .card > * {
    cursor: default;
}
.ui-sortable-placeholder > .card > .action {
    display: none !important;
}

.sortable.list .card .action {
    position: absolute;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
}

.sortable.list .card:hover .action {
    display: block;
    opacity: 0.7;

}

.sortable.list .card .action.bottom {
    bottom: -4px;
    text-align: center;
    left: 0;
    right: 0;
}

.sortable.list .card .action.right {
    right: -4px;
    top: 0;
    bottom: 0;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortable.list .card .action.left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.sortable.list .card .action.left > a {
    position: relative;
    left: -12px;
    height: min-content;
    display: inline-flex;
}

.activity.sortable.list > .body > .item,
.activity.item {
    border-right: 1px solid #eee;
    margin: 0;
    padding: 4px;
    min-width: 137px;
    z-index: 1;
    min-height: 94px;
    /*position: relative;*/
}

.activity.sortable.list > .body > .item:last-child,
.activity.item:last-child {
    border-right: none;
}

.activity.sortable.list > .body > .item.placeholder {
    visibility: hidden;
}

.activity.sortable.list > .body > .item,
.drag-activity {
    display: inline-block;
    min-width: 128px;
    min-height: 86px;
    /*position: relative;*/
    background: transparent;
}

.task.sortable.list {
    font-size: 0em;
    margin: 0;
    padding: 0;
    min-height: 86px;
}

.task.sortable.list > .body {
    margin: 0 -6px -8px;
    padding: 0 6px 8px;
    min-height: 86px;
    box-sizing: content-box;
    display: flex;
}

.task.sortable.list > .head {
    display: none;
}
.feature.list > .body {
    min-height: 86px;
    height: 100%;
}

.feature.list > .body > .item {
    display: flex;
}
.ui-sortable-placeholder.card,
.ui-sortable-placeholder > .card {
    background: #ffffff !important;
}

.ui-sortable-placeholder > .sortable.list,
.drag-activity > .sortable.list {
    display: none !important;
}

.drag-activity {
    margin: 0;
    padding: 0;
    background: transparent;
}
.drag-activity > .card,
.drag-task > .card,
.drag-feature > .card,
.ui-sortable-placeholder > .card {
    box-shadow: 1px 1px 5px #888888;
}

.activity.sortable.list > .body > .item.drag-activity {
    border-right: none;
    margin: 0;
    padding: 0;
}

.feature.sortable.list > .body:after {
    content: '';
    display: block;
    margin: 0 4px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    width: 120px;
}

.stretched {
    display: flex;
}

.stretched > div {
    display: inline-flex;
    align-self: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;
}

.ui.accordion.schedules {
    width: max-content;
    max-width: max-content !important;
    min-width: 100%;
}

.ui.accordion.schedules > .title {
    background: #eee;
    cursor: default;
}

.ui.accordion.schedules > .title > .sticky {
    display: inline-block;
    position: sticky;
    left: 8px;
}

.ui.accordion.schedules > .title > .sticky > .addon {
    display: inline-block;
    margin-left: 1rem;
}

.ui.accordion.schedules > .title > .sticky.right {
    left: 100%;
    margin-right: -100%;
}

.ui.accordion.schedules > .title > .sticky.right > .actions {
    margin-right: 1rem;
    margin-left: -100%;
    display: inline-block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.ui.accordion.schedules > .title:hover > .sticky.right > .actions {
    opacity: 0.7;
}


.ui.accordion:not(.styled) .title ~ .content:not(.ui),
.ui.accordion:not(.styled) .accordion .title ~ .content:not(.ui) {
    margin: 0;
    padding: 0;
}

.ui.accordion.schedules > .content {
    display: flex;
}

/*****
DRAGGING RELATED
******/
.activity.item.dragging .task.list,
.activity.item.dragging .feature.list {
    display: none !important;
}

.task.list.dragging,
.feature.list.dragging {
}

.schedules .activity.item {
    flex-direction: row;
}

.schedules .activity.item .feature.list {
    display: inline-flex;
    flex-direction: column;
}

.schedules .card {
    background: #FAFA77;
    border: none;
}

.activity.list .card {
    background: #FBAAC5;

}

.task.list .card {
    background:  #97D0C8;
}

.feature.sortable.list > .head {
    top: -4px
}

/*******Side bar********/
#gstack-console > .container {
    display: flex;
}

#gstack-console > .container > .ui.sidebar {
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    position: relative;
    visibility: visible;
}

#gstack-console > .container > .ui.sidebar:not(.visible) {
    width: 0;
    border: none;
    transform: translate3d(0, 0, 0);
}

#gstack-console > .container > .ui.sidebar.visible {
    /*display: block;*/
    /*flex-shrink: 0;*/
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

#gstack-console > .container > .ui.sidebar.visible.maximized {
    width: 100%;
}

#gstack-console > .container > .body {
    overflow: auto;
    max-width: 100%;
    width: 100%;
    flex: 1;
}

#gstack-console > .container > .body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

#gstack-console > .container > .body::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: background-color 1s;
}

#gstack-console > .container > .body:hover::-webkit-scrollbar-thumb {
    background-color: #96c8da;
}

#gstack-console > .container > .body::-webkit-scrollbar-track-piece,
#gstack-console > .container > .body::-webkit-scrollbar-track {
    width: 1px;
    height: 1px;
    background-color: transparent;
    opacity: 0;
}
.g-card-title > a {
    opacity: 0;
    display: inline-block;
    position: absolute;
    left: -12px;
    top: 0;

    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
}

.g-card-title:hover > a {
    opacity: 1;
}

.g-card-title {
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    line-height: 1;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.g-card-title.edit {
    resize: none;
    font-size: 1rem;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.g-card-title.edit:focus {
    border: none;
    box-shadow: none;
    outline: none;
    cursor: text;
    user-select: text;
}

.g-card-label{
    position: absolute;
    bottom: 4px;
    transform: scale(0.64);
    transform-origin: bottom left;
}

.sidebar > .title {

}

.sidebar > .content {
    position: absolute;
    top: 41px;
    bottom: 0px;
    overflow-y: auto;
    left: 0;
    right: 0;
    padding: 1rem;
}

.sidebar > .content > h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.public-DraftEditor-content, .mde-preview-content {
    line-height: 1.2;
}

.react-mde i.icon {
    margin: 0;
}

.mde-header ul.mde-header-group li.mde-header-item a.mde-toolbar-button {
    text-align: left;
    cursor: pointer;
    height: 22px;
    padding: 4px;
    margin: 0;
    border: none;
    background: none;
    color: #242729;
    display: block;
    line-height: 1.15;
}

.header-1 {
    font-size: 2rem;
}

.header-1, .header-2, .header-3, .header-4 {
    cursor: pointer;
    color: #000000;
}

.header-1 {
    font-size: 2rem;
}

.header-2 {
    font-size: 1.71428571rem;
}

.header-3 {
    font-size: 1.28571429rem;
}

.header-4 {
    font-size: 1.07142857rem;
}

.markdown h1 {
    font-size: 1.71428571rem;
}

.markdown h2 {
    font-size: 1.28571429rem;
}

.markdown h3 {
    font-size: 1.07142857rem;
}

.markdown h4 {
    font-size: 1rem;
}

.markdown img, .mde-preview-content img{
    max-width: 100%;
}

.ui.comments .reply.form .ui.button {
    display: none;
}

.ui.comments .reply.form textarea {
    font-size: 0.8rem;
    height: 2.6rem;
    transition-property: height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    resize: none;
}

.ui.comments .reply.form.active .ui.button {
    display: block;
}

.ui.comments .reply.form.active textarea {
    height: 4rem;
}

.ui.button.dropdown{
    font-weight: normal;
}